/* -----------base sytlying---------------  */

* {
    box-sizing: border-box;
}

/* nav styling */
/* .main-nav {

} */
body {
    background-color: lightgray;
}

h1 {
    font-size: 1.5625rem; /*25/16*/
    color: white;
}

h2 {
    font-size: 1.125rem; /*18/16*/
    color: white;
}

header,
section,
footer {
    text-align: center;
}

/* --------------navagation------------ */


.main-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; 
}


/* -----------spacing---------------  */

.about {
    padding-top: 20px;
}


/* --------------pseudo-class------------ */
ul,
a:link {
    list-style-type: none;
    text-decoration: none;
}

/* --------------media ------------ */

.clearfix::after {
    content: "";
    clear: both;
    display: table; 
}

/* --------------media ------------ */
@media